body {
  font-family:Oswald;
}

#wrapper {
  position:absolute;
  width:100%;
  top:0;
  left:0;
  right:0;
}

#navbar {
  position:fixed;
  width:inherit;
  height:55px;
  z-index:3;
  text-align:right;
  padding-bottom:8px;
}

.links {
  list-style:none;
}

.links li {
  display:inline-block;
  margin-right:30px;
  width:70px;
  text-align:center;
}

.menubefore {
  text-decoration:none;
  font-weight:bold;
  font-size:20px;
  display:block;
  color:white;
}

.menubefore:hover {
  color:#6cc4c5;
}

.menuafter {
  text-decoration:none;
  font-weight:bold;
  font-size:20px;
  display:block;
  color:#6cc4c5;
  height:inherit;
  border-radius:5px;
}

.menuafter:hover {
  background-color:#6cc4c5;
  color:white;
}

#header {
  position:relative;
  height:800px;
  width:100%;
  top:0;
  left:0;
  right:0;
  background-image:url("background.jpg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  overflow:hidden;
}

#container{
  position:absolute;
  padding-left:35%;
  padding-top:15%;
  z-index:1;
  color:white;
  text-align:center;
}

#container h1 {
  font-size:70px;
  margin-bottom:10px;
}

#container h2 {
  font-size:30px;
  margin-top:10px;
}

#button {
  border-radius: 5px;
  border:solid white;
  width:auto;
  color:white;
  font-size:40px;
}

#button:hover{
  border: solid #6cc4c5;
  color:#6cc4c5;
}

#featuresbox {
  position:relative;
  width:inherit;
  height:700px;
  margin-top:0px;
  background-color:#6cc4c5;
  text-align:center;
  display:block;
  color:white;
}

.features {
  position:relative;
  width:inherit;
  display:inline-block;;
  height:200px;
  padding-top:30px;
}

.featuretext {
  float:right;
  text-align: left;
}

.featureimage {
  float:left;
}

.featuretext h1 {
  margin-top:0px;
  padding-right:30px;
  border-top:40px;
}

.featureimage img {
  height:150px;
  width:200px;
  padding-left:30px;
}

#innovate {
  width:inherit;
  height:500px;
  background-color:white;
  color:#6cc4c5;
  padding-left:30px;
}

#innovateimage {
  float:right;
  height:inherit;
  width:50%;
}

#innovatemessage {
  float:left;
  height:inherit;
  width:50%;
}

#innovateimage img {
  height:inherit;
  width:100%;
  overflow:hidden;
}

#specs {
  width:inherit;
  height:500px;
  background-color:#6cc4c5;
  color:white;
  margin-top:0;
  padding-top:20px;
  padding-left:30px;
  text-align:center;
}

#wideimage {
  width:inherit;
  height:390px;
  background-image:url('smw2.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  background-attachment:fixed;
}

#wideimage h1 {
  position:absolute;
  color:white;
  margin-left:73%;
  margin-top:23%;
  font-size:50px;
  z-index:2;
}

#dandd {
  width:inherit;
  padding-left:30px;
  height:500px;
  background-color:white;
  color:#6cc4c5;
}

#contact {
  width:inherit;
  padding-top:20px;
  background-color:#6cc4c5;
  color:white;
  height:170px;
  text-align:center;
}

#logo {
  height:inherit;
  padding-left:30px;
  width:50px;
  float:left;
}

.fadein {
  opacity:0;
}
